# Please put this file in /etc/systemd/system
[Unit]
Description=google-drive rclone config
 
[Service]
User=root
ExecStart=/usr/local/bin/rclone mount google-drive /home/gdrive --allow-other --allow-non-empty --vfs-cache-mode writes
Restart=on-abort
 
[Install]
WantedBy=multi-user.target